@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

@layer utilities {
  .h-160 {
    height: 640px;
  }
  .min-w-half {
    min-width: 50%;
  }
  .max-w-half {
    max-width: 50%;
  }
  .black {
    background-color: #2d2d2d;
  }
  .text-yellow {
    color: #f1a10a;
  }
}

p {
  padding: 1rem;
}
